header {
    background-color: rgb(230, 230, 230);
    min-height: 600px;
    padding-top: 50px;
}

.header_photo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}

h2 {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #636363;
    text-align: center;
    line-height: 18px;
    margin: 0;
    margin-top: 20px;
}

h1 {
    font-family: 'Roboto';
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d89f23;
    text-align: center;
    margin: 0;
}

h3 {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #aaaaaa;
    text-align: center;
    margin: 0;
}
.links {
    display: flex;
    Justify-content: center;
}

.links .location, .links .phone, .links .site, .links .mail {
    margin: 50px;
}

h4.bold {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #636363;
    text-align: center;
    margin: 0;
}

h4.regular {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #999999;
    text-align: center;
}

.divider {
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
    height: 1px;
    background-color: #aaaaaa;
}